<div class="article-list">
	{% for article in articles|filter(article => article.has('url')) %}
		<article class="article-in-list">
			<div class="article-in-list__cover">
				{% if article.hasCover %}
					{{ article.getCoverTag({
						link: path('article_show', { slug: article.url }),
						class: 'article-in-list__cover-image'
					})|raw }}
				{% endif %}
			</div>
		</article>
	{% endfor %}
</div>

{% include 'AppBundle:Article:_list_pagination.html.twig' %}
